# Set the default behavior, in case people don't have core.autocrlf set.
*        text=auto
*.gmk	 text merge=union eol=lf
*.sh	text merge=union eol=lf
*.sub	text merge=union eol=lf
*configure	 text merge=union eol=lf